.torstentop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.torstentitletop{
    width: 85%;
    height: 260px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color:#ACD7EB;
}

.torstentitle{
    width: 50%;
    color: #FCFCFC;
    font-family: Helvetica Neue;
    font-size: 32px;
    font-weight: 400px;
    line-height: 48px;
}