.numbers{
    color: #A64D79;
    font-size: 56px;
    font-weight: 500;
    line-height: 81px;
    letter-spacing: 0.28px;
    text-align: left
}
.vorteile{
    width: 85%;
    display: flex;
    justify-content: center;
}