.intro1{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro2{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro4{
    display: flex;
    flex-direction: column;
    width: 50%;
   padding-right: 18px;
}
.intro4 > * {
 margin-bottom: 24px;
}

.introtitle{
    font-size: 72px;
    font-weight: 300;
    color: #212529;
}

.introcontent{
    font-size: 24px;
    font-weight: 200;
    color: #212529;
}

.introbild{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.introcol{
    background-color: #ACD7EB;
    height: 84px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.img1{
    padding-right: 10px;
    margin-bottom: 10px;
}
.img2{
    padding-right: 10px;
}

.introbutton{
color: #FCFCFC;
background-color: #A64D79;
padding: 10px;
border-radius: 5px;
}
